@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba($color: #030A10, $alpha: .20);
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 30px;
    @include md {
        --bs-navbar-padding-y: 24px;
    }
    @include sm {
        --bs-navbar-padding-y: 20px;
    }
    &.position-fixed {
        animation: headerAnimation .5s linear;
        background-color: rgba($color: $bg, $alpha: .5);
        backdrop-filter: blur(10px);
        --bs-navbar-padding-y: 24px;
        @include md {
            --bs-navbar-padding-y: 20px;
        }
        @include sm {
            --bs-navbar-padding-y: 1rem;
        }
    }
    &-menu {
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $bg, $alpha: .90);
            padding: 24px 16px;
            transform: translateY(100%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
    }
    &-link {
        @include font-20;
        line-height: 150%;
        color: #D2D2D2;
        font-weight: 500;
        font-family: $font-1;
        display: block;
        padding: 10px 22px;
        cursor: pointer;
        @include lg {
            padding: 10px 14x;
        }
        @include mmd {
            font-size: 16px;
            color: $heading;
            padding-left: 0;
            padding-right: 0;
        }
        &:hover,
        &.active {
            color: $white;
        }
    }
    &-toggler {
        --btn-padding-x: 4px;
        --btn-padding-y: 5px;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border: none;
        background-color: transparent;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14px;
        @include sm {
            margin-left: 8px;
        }
        & svg {
            --width: 40px;
            width: var(--width);
            height: var(--width);
            @include sm {
                --width: 32px;
            }
            @include ssm {
                --width: 26px;
            }
        }
    }
}